
###> symfony/framework-bundle ###
users/.env.local
users/.env.local.php
users/.env.*.local
users/.env
users/.env.test
users/composer.lock
users/config/secrets/prod/prod.decrypt.private.php
users/public/bundles/
users/var/*
users/vendor/*
users/vendor/

notifications/.env.local
notifications/.env.local.php
notifications/.env.*.local
notifications/.env
notifications/composer.lock
notifications/config/secrets/prod/prod.decrypt.private.php
notifications/public/bundles/
notifications/var/*
notifications/vendor/*
notifications/vendor/

###< symfony/framework-bundle ###

###> phpunit/phpunit ###
users/phpunit.xml
users/.phpunit.result.cache
users/composer.json
users/symfony.lock
###< phpunit/phpunit ###
###< symfony/phpunit-bridge ###

###< symfony/framework-bundle ###

###> phpunit/phpunit ###
notifications/phpunit.xml
notifications/.phpunit.result.cache
notifications/composer.lock
notifications/symfony.lock
###< phpunit/phpunit ###
###< symfony/phpunit-bridge ###

.idea/*
basic/*
