
###> symfony/framework-bundle ###
users/.env.local
users/.env.local.php
users/.env.*.local
users/.env
users/config/secrets/prod/prod.decrypt.private.php
users/public/bundles/
users/var/*
users/vendor/*
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
users/phpunit.xml
users/.phpunit.result.cache
users/composer.lock
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
users/.phpunit.result.cache
users/phpunit.xml
###< symfony/phpunit-bridge ###
.idea/*
